* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-fluid {
  padding-top: 15px;
}

a {
  text-decoration: none !important;
}

.btn-primary a {
  color: #fff !important
}